[run]
omit =
    *bitcoinlib/tools/*
    *dashd.py
    *bitcoind.py
    *dogecoind.py
    *bcoin.py
    *litecoind.py
    *authproxy.py
    *cryptoid.py
    *insightdash.py
    *litecoinblockexplorer.py
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if not PY3
