include README.md
include LICENSE
recursive-include bitcoinlib/wordlist *.txt
recursive-include bitcoinlib/data *.csv
recursive-include bitcoinlib/config *.py
recursive-include bitcoinlib/services *.py *.sample
recursive-include tests *.json *.py
