include README.rst
include LICENSE
include updatedb.py
recursive-include bitcoinlib/config *.py
recursive-include bitcoinlib/data *.ini *.json
recursive-include bitcoinlib/services *.py
recursive-include bitcoinlib/wordlist *.txt
recursive-include bitcoinlib/tools *.py
recursive-include tests *.json *.py
recursive-include docs *.pdf
