requests>=2.25.0
fastecdsa>=2.3.0
scrypt>=0.8.20
pycryptodome>=3.19.0
SQLAlchemy>=2.0.20
numpy>=1.26.0
sphinx>=7.2.0
coveralls>=4.0.1
psycopg>=3.1.16
mysql-connector-python>=8.4.0
mysqlclient>=2.2.0
sphinx_rtd_theme>=2.0.0
Cython>=3.0.8
win-unicode-console;platform_system=="Windows"
