requests>=2.25.1
fastecdsa>=2.1.5
pyaes==1.6.1
scrypt>=0.8.17
SQLAlchemy==1.3.22
sphinx>=3.5.2
coveralls>=3.0.0
psycopg2>=2.8.6
mysql-connector-python>=8.0.23
mysqlclient>=2.0.3
parameterized>=0.8.1
sphinx_rtd_theme>=0.5.1
numpy==1.20.1