requests>=2.25.0
fastecdsa>=2.2.1
scrypt>=0.8.18
pycryptodome>=3.14.1
SQLAlchemy>=1.4.24
numpy>=1.21.0
sphinx>=4.3.1
coveralls>=3.0.1
psycopg2>=2.9.2
mysql-connector-python>=8.0.27
mysqlclient>=2.1.0
parameterized>=0.8.1
sphinx_rtd_theme>=1.0.0
