requests>=2.32.0
fastecdsa>=3.0.0
scrypt>=0.9.0
pycryptodome>=3.23.0
SQLAlchemy>=2.0.44
numpy>=1.26.0,<2
sphinx>=9.0.0
psycopg>=3.3.0
coveralls>=4.0.2
mysql-connector-python>=9.5.0
mysqlclient>=2.2.7
sphinx_rtd_theme>=3.0.0
Cython>=3.2.0
win-unicode-console;platform_system=="Windows"
